.navbar {
    display: flex;
    width: 1440px;
    height: 65px;
    margin: 0 auto;
    border-bottom: 1px solid #e6e6e6;

    &__logo {
        padding: 24px 0 0 251px;
    }
    &__wrapper {
        display: flex;
        width: 410px;
        padding-top: 25px;
        margin-left: 451px;
        justify-content: space-between;
    }
    &__link {
        a {
            font-weight: 600;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 1.09091px;
            color: #48555B;
            text-transform: uppercase;
            &:hover {
                color: #00A4E5;
                text-decoration: none;
            }
        }
        &.active {
            a {
                color: #00a4e5;
            }
        }
    }
}